body {
    font-family: sans-serif;
    background-color: black;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin-bottom: 20px;
}

.button {
    background-color: #36bbce;
    color: black;
    text-decoration: none;
    padding: 15px;
    font-size: 24px;
    border-radius: 10px;
    display: block;
}

.button:hover {
    background-color: orange;
}

nav {
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    padding: 25px 100px 25px 95px;
    display: flex;
    justify-content: space-between;
}

.nav-link {
    font-size: 24px;
    color: white;
    text-decoration: none;
    display: block;
}

.nav-link:hover {
    color: aquamarine;
}

h1 {
    text-align: center;
    color: white;
    font-size: 36px;
    margin-top: 45px;
    margin-bottom: 40px;
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    left: 31%;
    right: 31%;
}

.post-text {
    font-size: 24px;
}

.info {
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: 0 auto;
}

.post {
    background-color: white;
    padding: 15px 45px 30px 45px;
    width: 400px;
    margin: 20px;
    position: relative;
}

.post:hover {
    background-color: aqua;
}

#HOT {
    position: relative;
}

#HOT h2::before {
    content: '';
    background-image: url(https://learn.algonova.id/uploads/2021/03/tag-151102.svg);
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    width: 90px;
    height: 50px;
    position: absolute;
    top: 5%;
    left: 0.5%;
    opacity: 0.5;
}

#HOT h2:hover::before {
    opacity: 1;
}

.post:hover > h2 {
    color: white;
}

h1::before, h1::after {
    content: '';
    background-image: url(https://cdn.pixabay.com/photo/2013/07/12/14/48/dialog-148815_1280.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    position: absolute;
    display: block;
    transform: translate(-50%);
    opacity: 0.5;         
}

h1:hover::before, h1:hover::after {
    opacity: 1;
}

h1::before {
    top: 0.5%;
    left: -30px;
}

h1::after {
    top: 1%;
    right: -130px;
}

.article-but {
    text-decoration: none;
    background-color: #133aac;
    color: white;
    font-size: 24px;
    text-align: center;
    padding: 10px 75px 10px 75px;
    display: block;
}

.post:hover > .article-but {
    color: #133aac;
    background-color: white;
    border: 5px solid #133aac;
}

.full-image {
    margin: 100px 0px 100px 0px;
}


.social-block {
    position: fixed;
    background-color: #850AE5;
    width: 90px;
    color: white;
    padding: 10px;
    border-radius: 10px;
    top: 225px;
    right: 5px;
}

.social-block img {
    margin-bottom: 10px;
}

.social {
    display: block;
    width: 30px;
}

.social-block:hover img {
    border-bottom: 10px double orange;
}


footer {
    background-color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 30px 20px 45px;
}

.footer-text {
    font-size: 24px;
    margin-right: 30px;
}

.footer-text span {
    color: #850AE5;
    font-weight: bolder;
}

.address::before {
    content: '';
    background-image: url(https://cdn.pixabay.com/photo/2017/10/20/20/37/apartment-2872754_1280.png);
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    width: 60px;
    height: 30px;
    position: absolute;
    left: 2%;
}

.tel::before {
    content: '';
    background-image: url(https://cdn.pixabay.com/photo/2013/07/13/10/30/icon-157358_1280.png);
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    width: 60px;
    height: 30px;
    position: absolute;
    left: 3%;
}