body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}

header {
    background-color: #6C0AAB;
    color: white;
    padding: 20px;
}

.about, .services, .gallery {
    padding: 20px;
    margin: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.image-grid {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
}

.image-grid img {
    width: 200px;
    height: auto;
    border-radius: 10px;
}

footer {
    background-color: #6C0AAB;
    color: white;
    padding: 20px;
    margin-top: 20px;
}

.services ul {
    list-style: none;
}